<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review Filter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<h1>Filter reviews:</h1>
<br>

<form th:action="@{/reviews/add}" method="post" th:object="${filter}">
    <div class="form-group" >
        <label for="exampleFormControlSelect1"> Order by rating: </label>
            <select class="form-control" id="exampleFormControlSelect1" th:field="*{orderByRating}">
                <option th:value="${T(com.example.embedsocialphpchallengeintern.model.OrderByRating).highestFirst}">Highest First</option>
                <option th:value="${T(com.example.embedsocialphpchallengeintern.model.OrderByRating).lowestFirst}">Lowest First</option>
            </select>
    </div>
    <br>
    <div class="form-group" >
        <label for="exampleFormControlSelect1"> Minimum rating: </label>
            <select class="form-control" id="exampleFormControlSelect2" th:field="*{minimumRating}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
    </div>
    <br>
    <div class="form-group" >
        <label for="exampleFormControlSelect1"> Order by date: </label>
            <select class="form-control" id="exampleFormControlSelect3" th:field="*{orderByDate}">
                <option th:value="${T(com.example.embedsocialphpchallengeintern.model.OrderByDate).newestFirst}" >Newest first</option>
                <option th:value="${T(com.example.embedsocialphpchallengeintern.model.OrderByDate).oldestFirst}" >Oldest first</option>
            </select>
    </div>
    <br>
    <div class="form-group" >
    <label for="exampleFormControlSelect1"> Prioritize by text: </label>
        <select class="form-control" id="exampleFormControlSelect4" th:field="*{prioritizeByText}">
            <option value="true" th:selected="${filter.prioritizeByText != null && filter.prioritizeByText}">Yes</option>
            <option value="false" th:selected="${filter.prioritizeByText != null && !filter.prioritizeByText}">No</option>
        </select>
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<h2>Filtered and Sorted Reviews</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Text</th>
        <th scope="col">Rating</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review : ${filteredReviews}">
        <td th:text="${review.getReviewText()}">-</td>
        <td th:text="${review.getRating()}">-</td>
        <td th:text="${review.getReviewCreatedOnDate()}">-</td>
    </tr>
    </tbody>

</table>
</body>
</html>
